:root {
  --white: #fff;
  --black: #2c2b2b;
  --origin-black: #001221;
  --sub-black: #01031b;
  --sub-black-2: #23262f;
  --sub-black-3: #202229;
  --sub-black-4: #1c1e24;
  --orange: #f3aa3a;
  --yellow: #ffd166;
  --red: #ff6a6a;
  --red-2: #ff3333;
  --space-gray: #929191;
  --greenlight: #55d434;
  --green-dark: #2d3f33;
  --base-gray: #777e90;
  --sub-greenlight: #195908;
  --blue: #2196f3;
  --blue-sky: #4bc9f0;
  --black-transparent: rgb(146 145 145 / 23%);
  --white-transparent-5p: rgb(146 145 145 / 5%);
  --white-transparent-20p: rgb(146 145 145 / 20%);
  --gray-neutrals: #b1b5c4;
  --greenlightSecondary: #49e454;
  --black: #000000;
  --textgreen: #23ad2f;
  --red-brown: #482928;
  --base-gray-2: #b1b5c3;
  --f-light-green: #9ffbd6;
  --neutrals: #24262f;
  --smoke: #363a44;
  --hash-gray: #353945;
  --smoke-gray: #b3beca;
  --green-lott: #48e454;
  --green-lott-opacity-3: rgba(72, 228, 84, 0.3);
  --claim-color-black: #031220;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: 'duckfont';
  src: url('../public/fonts/Duck-Regular.woff');
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--white);
}
html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.07rem;
}
*:focus {
  outline: none !important;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.duck-class {
  font-family: 'duckfont', sans-serif !important;
}

.spinning {
  animation: rotation 2.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
